body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
.mentorlink
{
    background-color: #ffffff;
    height: 104px;
    color: #ffffff;
    display: flex;
    align-items: center;
    &-content
    {
        align-items: center;
        display: flex;
        border-spacing: 20px;
        &-timkiem
        {
            position: relative;
            width: 84px;
            height: 17px;
            text-align: center;
            color: #545454;
            font-size: 12px;
            padding-left: 16px;
        }
        &-menlink
        {
            width: 140px;
            height: 17px;
            text-align: center;
            color: #545454;
            font-size: 12px;
        }
        &-login
        {
            @extend .mentorlink-content-menlink;
            margin-right: 5px;
        }
        &-study
        {
            @extend .mentorlink-content-menlink;
            margin-right: 15px;
        }
        &-dangky
        {
            color: #ffffff;
            background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            border-radius: 8px;
            text-align: center;
            width: 140px;
            height: 39px;
            padding: 12px 30px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
        .mentorlink-content-timkiem::after {
            content: "";
            position: absolute;
            background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            height: 3px;
            width: 50px;
            left: 25px;
            bottom: -10px;
          }
    }  
}
@media only screen and (max-width: 600px) {

    .mentorlink-content-timkiem::after {
        content: "";
        position: absolute;
        background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
        height: 3px;
        width: 35px!important;
        left: 20px!important;
        bottom: -20px!important;
      } 
      .mentorlink-content-dangky
      {
          width: 180px!important;
      }


}
.timkiemkhoahoc {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    font-weight: 400px;
    margin-top: 15px;
}
.title 
{
    background: #ffffff;
    margin-top: 12px;
    &-teacher
    {
        width: 450px;
        height: 91px;
        padding-top: 34px;
        h1 
        {
            font-size: 21.5px;
            font-weight: 600;
        }
        &-conten
        {
            display: flex;
            font-size: 17px;
            h1 
            {
                padding-left: 5px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
    &-picture
    {
        padding-top: 20px;
        img 
        {
            width: 100%;
            height: 351px;
        }
    }
}
.information
{
    padding-top: 40px;
    text-transform: uppercase;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    height: 90px;
    align-items: center;
    line-height: 22px;
    &-gioithieu
    {
        padding-left: 36px;
        size: 18px;
        color: #150099;
        font-weight: 600;
        position: relative;
    }
    &-yeucau
    {
        padding-left: 36px;
        size: 18px;
    }
    &-huongdan
    {
        @extend .information-yeucau;
    }
    &-giangvien
    {
        @extend .information-yeucau;
    }
}
.information-gioithieu::after {
    content: "";
    position: absolute;
    background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
    height: 3px;
    width: 90px;
    left: 35px;
    bottom: -15px;
  } 
.toeic
{
    padding-right: 0px;
    background-color: #ffffff;
    width: 100%;
    &-content
    {
        padding-left: 36px;
        &-class
        {
            padding-top: 50px;
            color: #150099;
            font-weight: 400;
            font-size: 24px;
            line-height: 56px;
            font-family: Crimson Pro;
            position: relative;
        }
        &-class::after
        {
            content: "";
            position: absolute;
            background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            height: 3px;
            width: 100px;
            left: 0px;
            bottom: -15px;
        }
        &-write
        {
        padding-top: 30px;
        line-height: 30px;
        color: #000000;
        font-size: 18px;
        line-height: 30px;
        text-transform: capitalize;
        }
        &-ing 
        {
            font-size: 18px;
            padding-top: 25px;
        }
        &-laster
        {
            font-size: 18px;
            padding-top: 25px;
        }
    }
    &-has
    {
        padding-left: 36px;
        padding-top: 20px;
        &-class
        {
            padding-top: 40px;
            position: relative;
            h1 
            {
            color: #150099;
            font-size: 24px;
            }
        }
        &-class::after
        {
            content: "";
            position: absolute;
            background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            height: 3px;
            width: 100px;
            left: 0px;
            bottom: -12px;
        }
        &-write
        {
            padding-top: 30px;
            &-list
            {
                line-height: 30px;
                font-size: 18px;
                text-transform: capitalize;
                color: #000000;
            }
        }
    }
    &-lich
    {
        padding-left: 36px;
        padding-top: 20px;
        &-class
        {
            position: relative;
            h1 
            {
            color: #150099;
            font-size: 24px;
            }
        }
        &-class::after
        {
            content: "";
            position: absolute;
            background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            height: 3px;
            width: 100px;
            left: 0px;
            bottom: -12px;
        }
        &-write
        {
            padding-top: 25px;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: #000000;
            text-transform: capitalize;
        }
    }
    &-chinhsach
    {
        padding-left: 36px;
        padding-top: 20px;
        &-class
        {
            @extend .toeic-lich-class;
        }
        &-write
        {
            @extend .toeic-lich-write;
        }
    }
    &-yeucau
    {
        margin-left: 36px;
        margin-top: 50px;
        padding-top: 20px; 
        width: 204px;
        display: flex;
        height: 32px; 
        align-items: center;
        background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
        border-radius: 8px;
        h1 
        {
            font-weight: 600;
            color: #ffffff;
            padding-bottom: 13px;
            padding-left: 8px;
            font-size: 14px;
            background-color: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);;
        }
    }
}
i.fa.fa-arrow-right {
    padding-bottom: 20px;
    padding-left: 10px;
    color: #ffffff;
    font-weight: 00;
}
.ghidanh
{
    padding-right: 0px!important;
    padding-left: 0px!important;
    padding-top: 32px;
    margin-top: 12px;
    background-color: #FFFFFF;
    &-top
    {
        &-content
        {
            display: flex;
            h1
            {
                font-size: 12px;
                line-height: 22px;
                align-items: center;
                font-weight: 500;
                justify-content: center;
                display: flex;
                width: 55px;
                height: 27px;
                color: #FFFFFF;
                background-color: #F27A54;
                padding:0px;
            }
            p 
            {
                width: 149px;
                height: 21px;
                font-size: 21px;
                justify-content: center;
                display: flex;
                align-items: center;
                text-align: center;
                color: #F27A54;
                font-weight: 600;
            }
            h2 {
                font-weight: 400;
                font-size: 12px;
                text-decoration-line: line-through;
                color: #747D88;
                line-height: 22px;
                padding-left: 25px;
                padding-top: 5px;
            }
        }
        &-one
        {
            h1 
            {
                font-weight: 700;
                color: #FFFFFF;
                text-align: center;
                font-weight: 700;
                height: 37px;
                align-items: center;
                border-radius: 8px;
                justify-content: center;
                display: flex;
                width: 327px;
                font-size: 16px;
                background: linear-gradient(277.43deg, #7DFFD3 0.52%, #29CCD6 20.82%, #150099 99.87%);
            }
            &-content
            {
                display: flex;
                p
                {
                    color: #150099;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                }
                p1 
                {
                    color: #EB5757;
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 10px;
                }
            }
        }
        &-two
        {
            &-star
            {
                display: flex;
            img 
            {
                font-size: 12px;
                width: 21px;
                height: 19px;
                margin-left: 5px;
            }
            h1 
            {
                font-size: 12px;
                padding-right: 23px;
            }
            p 
            {
                font-size: 12px;
                padding-left: 12px;
            }
            }
            &-study
            {
                h1 
                {
                font-weight: 400;
                font-size: 12px;
                line-height: 22px;
                width: 336px;
                text-align: end;
                }
            }
        }
    }
}
